<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
  <a class="navbar-brand" href="#">Eventos - Eliton</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurando por?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link py-0"  routerLink="/eventos">
          <span style="font-size: 2em; color: rgb(1, 24, 27);">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
